/* Ovverride here bootstrap variables or declare new */
@import "variables";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 1.6rem;
}
